.myphoto {
    border-radius: 50%;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    padding-top: auto;
    padding-bottom: auto;
}

body {
    background-color:#023047;
    background-image: url('../images/background.jpg')
}

.container {
    background-color: #ffb703;
    padding-top: 15px;
    padding-bottom: 15px;
}

.jumbotron {
    background-color: #5795db;
    text-align: center;
}

.blockquote {
    text-align: center;
}

.blockquote-footer {
    color: black;
    text-align: center;
}

.col-md-4 {
    width: 100%;
    padding: 30px;
    border: #023047;
    border-width: 5px;
    box-sizing: border-box;
}

.emphasize {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}