.myphoto {
    border-radius: 50%;
    width: 40%;
    height: auto;
    display: block;
    margin: 20px 20px;
    object-fit: cover;
    padding-top: auto;
    padding-bottom: auto;
    float: right;
}

body {
    background-color:#023047;
    background-image: url('../images/background.jpg')
}

.container {
    background-color: #ffb703;
    padding: 30px;
}

.jumbotron {
    background-color: #5795db;
    text-align: center;
}

.blockquote {
    text-align: center;
}

.blockquote-footer {
    color: black;
    text-align: center;
}

.portfolio {
    width: auto;
    margin: 10px 10px;
    border: solid black;
    border-width: 5px;
    box-sizing: border-box; 
}

.introduction {
    width: auto;
    margin: 10px;
    border: solid black;
    border-width: 5px;
    box-sizing: border-box;
}

.about p {
    margin: 15px 15px;
    text-align: justify;
    text-justify: auto;
}

.about {
    margin: 10px 10px;
}

.about ul {
    margin-bottom: 20px;
}
.col-md-4 {
    width: 100%;
    padding: 30px;
    border: #023047;
    border-width: 5px;
    box-sizing: border-box;
}

.emphasize {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}